@import url('https://fonts.googleapis.com/css2?family=Poppins:ital, wght@20,400;0,500;1,300&display=swap');

:root{
    --green:green;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .2rem 1rem rgb(120, 117, 117) ;
    --box-border: 2rem solid 1rem rgba(0,0,0.1);
    --outline: .1rem solid 1rem rgba(0,0,0.1);
}




*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
}

html{
    font-size:62.5%;
    overflow-x:hidden;
    scroll-behavior: smooth;
    scroll-padding-top:7rem;

}

body{
    background: #eee;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}    

a:hover{
    color:var(--green);
}
.logo{
    font-size: 2.5rem;
    font-weight: bolder;

}
i{
    color:var(--green);
}

.icons div{ 
    /* border:1px solid; */
    border-radius: 2px;
    background-color: #eee;
    color: var(--black);
    height: 40px;
    width:40px;
    line-height: 4.5rem;
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;

}
.icons div:hover{
    background-color: var(--green);
    color: white;
}

#menu-btn{
    display: none;
}

.search-form{
    border: 0px solid black;
    border-radius: .5rem;
    position: absolute;
    top: 110%;
    right: -110%; 
    width: 40rem;
    height: 4rem;
    background:#fff ;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    font-size: 2rem;
   

}
.search-form.active{
    right: 2rem; 
    transition: .4s linear;
    
}

input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 2rem;
    color: var(--black);
    padding: 0 1rem;
}

#search-box{
    font-size: 1.5rem;
}
label{
    font-size: 4rem;
    padding-right:1.5rem ;
     cursor: pointer;
     

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital, wght@20,400;0,500;1,300&display=swap');

:root{
    --green:green;
    --black:#130f40;
    --light-color:#666;
    --box-shadow:0 .2rem 1rem rgb(120, 117, 117) ;
    --box-border: 2rem solid 1rem rgba(0,0,0.1);
    --outline: .1rem solid 1rem rgba(0,0,0.1);
}




*{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
}

html{
    font-size:62.5%;
    overflow-x:hidden;
    scroll-behavior: smooth;
    scroll-padding-top:7rem;

}

body{
    background: #eee;
}
.header{
    position: fixed;
    top:0;
    left: 0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

a{
    font-size: 1.7rem;
    margin:0 1rem;
    color:var(--black);
}    

a:hover{
    color:var(--green);
}
.logo{
    font-size: 2.5rem;
    font-weight: bolder;

}
i{
    color:var(--green);
}

.icons div{ 
    /* border:1px solid; */
    border-radius: 2px;
    background-color: #eee;
    color: var(--black);
    height: 40px;
    width:40px;
    line-height: 4.5rem;
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor: pointer;

}
.icons div:hover{
    background-color: var(--green);
    color: white;
}

#menu-btn{
    display: none;
}

.search-form{
    border: 0px solid black;
    border-radius: .5rem;
    position: absolute;
    top: 110%;
    right: -110%; 
    width: 40rem;
    height: 4rem;
    background:#fff ;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    font-size: 2rem;
   

}
.search-form.active{
    right: 2rem; 
    transition: .4s linear;
    
}

input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 2rem;
    color: var(--black);
    padding: 0 1rem;
}

#search-box{
    font-size: 1.5rem;
}
label{
    font-size: 4rem;
    padding-right:1.5rem ;
     cursor: pointer;
     
}





